{% extends 'base.html.twig' %}

{% block title %}Hello BoyeController!{% endblock %}

{% block body %}
    <div class="mycontainer6">
        <div class="imagesautres">
            <img src="../img/autres.jpg" width="100%" height="100%" style="border-radius: 140px;">
        </div>
        <div class="item2_2">
            <p style="color: white; padding: 15px; font-size:large; margin: bottom 40px;">Let s add some text here, first call me Mr.Boye, not boy neither boyé.You have the honor to be the 
            lector of my e-portfolio, i know that s fantastic for your life, your are like a child who dicovered his 
            little gift the day of christmas, but don't be so excited, if you want to stay here you must proof me your 
            competences.So let s get started before the view of your face start giving me nauseas,...
            hey calm down you moron, i was joking, that s funny, no ? Now dance macaque. Lorem ipsum dolor sit amet 
            ?</p>
        </div>      
    </div>
    <div class="boxautres">
        <div class="itemautres">
            <img src="../img/chess.jpg"  width="100%" height="60%" style="border-radius: 10px;">
            <h6 >
              <p style="color:rgb(204, 207, 206);">
              Si Alita Battle Angel a été aimé par des millions de fans, il n'en a pas moins été une déception commerciale 
              pour la Fox (405 millions de dollars de recettes pour un budget de 200 millions).   Cependant, James Cameron, 
              Robert Rodriguez et Jon Landau n'ont jamais cessé de se battre pour la production d'une suite. "Avec un peu de
              chance, le film pourrait se faire." confie Jon Landau à Deadline. "Maintenant je n'ai pas envie de vous donner
              </p>
        </div>
        <div class="itemautres">
            <img src="../img/telescop.jpg"  width="100%" height="60%" style="border-radius: 10px;">
            <h6 >
              <p style="color:rgb(204, 207, 206);">
              Si Alita Battle Angel a été aimé par des millions de fans, il n'en a pas moins été une déception commerciale 
              pour la Fox (405 millions de dollars de recettes pour un budget de 200 millions).   Cependant, James Cameron, 
              Robert Rodriguez et Jon Landau n'ont jamais cessé de se battre pour la production d'une suite. "Avec un peu de
              chance, le film pourrait se faire." confie Jon Landau à Deadline. "Maintenant je n'ai pas envie de vous donner
              </p>
        </div>

        <div class="itemautres">
            <img src="../img/sport.jpg"  width="100%" height="60%" style="border-radius: 10px;">
            <h6 >
              <p style="color:rgb(204, 207, 206);">
              Si Alita Battle Angel a été aimé par des millions de fans, il n'en a pas moins été une déception commerciale 
              pour la Fox (405 millions de dollars de recettes pour un budget de 200 millions).   Cependant, James Cameron, 
              Robert Rodriguez et Jon Landau n'ont jamais cessé de se battre pour la production d'une suite. "Avec un peu de
              chance, le film pourrait se faire." confie Jon Landau à Deadline. "Maintenant je n'ai pas envie de vous donner
              </p>
        </div>
        <div class="itemautres">
            <img src="../img/gamemaking.jpg"  width="100%" height="60%" style="border-radius: 10px;">
            <h6 >
              <p style="color:rgb(204, 207, 206);">
              Si Alita Battle Angel a été aimé par des millions de fans, il n'en a pas moins été une déception commerciale 
              pour la Fox (405 millions de dollars de recettes pour un budget de 200 millions).   Cependant, James Cameron, 
              Robert Rodriguez et Jon Landau n'ont jamais cessé de se battre pour la production d'une suite. "Avec un peu de
              chance, le film pourrait se faire." confie Jon Landau à Deadline. "Maintenant je n'ai pas envie de vous donner
              </p>
        </div>

        <div class="itemautres">
            <img src="../img/science.jpg"  width="100%" height="60%" style="border-radius: 10px;">
            <h6 >
              <p style="color:rgb(204, 207, 206);">
              Si Alita Battle Angel a été aimé par des millions de fans, il n'en a pas moins été une déception commerciale 
              pour la Fox (405 millions de dollars de recettes pour un budget de 200 millions).   Cependant, James Cameron, 
              Robert Rodriguez et Jon Landau n'ont jamais cessé de se battre pour la production d'une suite. "Avec un peu de
              chance, le film pourrait se faire." confie Jon Landau à Deadline. "Maintenant je n'ai pas envie de vous donner
              </p>
        </div>
        <div class="itemautres">
            <img src="../img/voyage.jpg"  width="100%" height="60%" style="border-radius: 10px;">
            <h6 >
              <p style="color:rgb(204, 207, 206);">
              Si Alita Battle Angel a été aimé par des millions de fans, il n'en a pas moins été une déception commerciale 
              pour la Fox (405 millions de dollars de recettes pour un budget de 200 millions).   Cependant, James Cameron, 
              Robert Rodriguez et Jon Landau n'ont jamais cessé de se battre pour la production d'une suite. "Avec un peu de
              chance, le film pourrait se faire." confie Jon Landau à Deadline. "Maintenant je n'ai pas envie de vous donner
              </p>
        </div>
    </div>       
{% endblock %}
