{% extends 'base.html.twig' %}



    {% block body %}
        <div class="mycontainer5">
                
            
        </div>
    <div class="cv">

        <div class="entetecv">
        <p>
            <br><br><br>
            <h1>
            <strong>MOUHAMED BOYE :</strong>
            </h1><h5>
            Etudiant Premiére Année RT, Email:boyemouhamed43@gmail.com 06 65 31 78 00</h5>
        </p>
        </div>
        <br>
        <div class="profilcv">
            <div>
                <br>
                <h1><strong>
                Profile :
                </strong></h1> 
            </div>
            <div class="boxcv">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In quaerat exercitationem Lorem 
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. In quaerat exercitatione Lorem
                    ipsum dolor sit, amet consectetur adipisicing elit. In quaerat exercitatione 
                    i
                    </p>
            </div>
           
        </div>




    </div>
    
    
    
    
    {% endblock %}
