{% extends 'base.html.twig' %}

{% block title %}Hello BoyeController!{% endblock %}

{% block body %}

<div class="mycontainer2">
    <div class="item1">
        <img style="padding-left: 55px;" src="../img/me.png" width="70%" height="50%">
        <p style="text-align: center;"><u>Mr.Mouhamed-Boye</u></p><br>
    </div>
    <div class="item2">
        <p style="color: #F5F5F5; padding: 15px;">Let s add some text here, first call me Mr.Boye, not boy neither boyé.You have the honor to be the 
        lector of my e-portfolio, i know that s fantastic for your life, your are like a child who dicovered his 
        little gift the day of christmas, but don't be so excited, if you want to stay here you must proof me your 
        competences.So let s get started before the view of your face start giving me nauseas,...
        hey calm down you moron, i was joking, that s funny, no ? Now dance macaque. Lorem ipsum dolor sit amet 
        consectetur adipisicing elit. Voluptatum distinctio doloribus sequi odio, omnis atque ullam velit illo 
        nihil eveniet laboriosam, ipsam dolorum. Quaerat rerum, aliquam nam porro molestiae enim?</p>
    </div>

</div><br><br><br>

<div class="grandblock">
  <div class="container2">
    <div class="item">
      <img src="../img/tchn.webp" width="90%" height="50%">
      <h6 >
      <p style="color:rgb(204, 207, 206); font-size: medium;">
      La semaine dernière, l'Agence spatiale européenne (ESA) a présenté sa nouvelle promotion d’astronautes avec deux 
      nouveaux corps. Cette promotion 2022, la quatrième de son histoire, comprend cinq astronautes de carrière, 11 
      astronautes réservistes et un astronaute porteur de handicap. D'ici deux ans, au terme de leur formation, ces 
      nouveaux astronautes de carrière rejoindront ceux de la promotion 2009 qui, au nombre de sept, sont toujours en 
      activité.
      </p>
      </h6>
      <br><br><br>
    </div>


    <div class="item">
      <img src="" alt="blue lock" width="90%" height="50%">
      <h6>
      <p style="color:rgb(204, 207, 206); font-size: medium;">
      Après une défaite désastreuse à la Coupe du monde 2018, l'équipe de foot du Japon peine à se ressaisir. Que leur 
      a-t-il manqué ? Peut-être un attaquant hors pair pouvant les guider vers la victoire. L'union japonaise de 
      football s'acharne à trouver quelqu’un ayant faim de buts et soif de victoire, une personne à l’individualisme 
      assumé capable de faire basculer un match qui a mal démarré. Pour cela, elle a rassemblé 300 des plus brillants 
      jeunes joueurs du Japon. Qui émergera pour diriger l'équipe ? Sera-t-il capable de surpasser en force et en 
      caractère tous ceux qui se dressent sur son chemin ?
      </p>
      </h6><br><br> 
    </div>
  </div>
  <div class="containerdroit">
    <h6>
      <p style="color:rgb(204, 207, 206);">
      Les écoles peuvent désormais enseigner la conception de jeux et accéder gratuitement à des supports de cours et 
      des didacticiels de développement de jeux de haute qualité avec GameMaker, le moteur de développement de jeux 
      multiplateforme le plus rapide et le plus convivial.Les écoles peuvent désormais enseigner la conception de jeux et accéder gratuitement à des supports de cours et 
      des didacticiels de développement de jeux de haute qualité avec GameMaker, le moteur de développement de jeux 
      multiplateforme le plus rapide et le plus convivial.
      </p>
      </h6><br><br>

  </div>
</div>
{% endblock %}
