{% extends 'base.html.twig' %}

{% block title %}Hello BoyeController!{% endblock %}

{% block body %}

<div class="mycontainer2">
    <div class="item1">
        <img class="mypicture" src="../img/me.png" width="70%" height="60%">
        <p style="text-align: center;"><u>Mr.Mouhamed-Boye</u></p>
        <details>
          <summary>Know more</summary>
            More details here
        </details>
    <br>
    </div>
    <div class="item2">
        <p style="color: #ffffff; padding: 15px; font-size:large; margin: bottom 40px;">Let s add some text here, first call me Mr.Boye, not boy neither boyé.You have the honor to be the 
        lector of my e-portfolio, i know that s fantastic for your life, your are like a child who dicovered his 
        little gift the day of christmas, but don't be so excited, if you want to stay here you must proof me your 
        competences.So let s get started before the view of your face start giving me nauseas,...
        hey calm down you moron, i was joking, that s funny, no ? Now dance macaque. Lorem ipsum dolor sit amet 
        consectetur adipisicing elit. Voluptatum distinctio doloribus sequi odio, omnis atque ullam velit illo 
        nihil eveniet laboriosam, ipsam dolorum. Quaerat rerum, aliquam nam porro molestiae enim?</p>
    </div>

</div><br><br><br>

<div class="grandblock">
  <div class="container2">
    <div class="item">
      <img src="../img/tchn.webp" width="90%" height="70%" style="border-radius: 20px; position:relative; top:20px">
      <h6 >
      <p style="color: black; font-size: medium;">
      </p>
      </h6>
      <br><br><br>
    </div>


    <div class="item">
      <img src="../img/tchn2.png" alt="blue lock" width="90%" height="70%" style="border-radius: 20px; position:relative; bottom: 20px;">
      <h6>
      </h6><br><br> 
    </div>
  </div>
  <div class="containerdroit">
      <p style="color:black; font-size: large;">
      Les écoles peuvent désormais enseigner la conception de jeux et accéder gratuitement à des supports de cours et 
      des didacticiels de développement de jeux de haute qualité avec GameMaker, le moteur de développement de jeux 
      multiplateforme le plus rapide et le plus convivial.Les écoles peuvent désormais enseigner la conception de jeux et accéder gratuitement à des supports de cours et 
      des didacticiels de développement de jeux de haute qualité avec GameMaker, le moteur de développement de jeux 
      multiplateforme le plus rapide et le plus convivial. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      
      
      </p>
     <br><br>
      <p style="color:black; font-size: large; position:relative; top:160px;">
        Après une dite désastreuse à la Coupe du monde 2018, l'équipe de foot du Japon peine à se ressaisir. Que leur 
        a-t-il manqué ? Peut-être un attaquant hors pair pouvant les guider vers la victoire. L'union japonaise de 
        football s'acharne à trouver quelqu’un ayant faim de buts et soif de victoire, une personne à l’individualisme 
        assumé capable de faire basculer un match qui a mal démarré. Pour cela, elle a rassemblé 300 des plus brillants 
        jeunes joueurs du Japon. Qui émergera pour diriger l'équipe ? Sera-t-il capable de surpasser en force et en 
        caractère tous ceux qui se dressent sur son chemin ?
        </p>

  </div>
</div>
<br><br>
<div class="avant-foot">
  <img src="../img/tchn3.webp" width="40%" height="80%" class="last-for-home">
  <p style="color:black; font-size: large; margin-top:10px; position:relative; top:30px;">
        Après une dite désastreuse à la Coupe du monde 2018, l'équipe de foot du Japon peine à se ressaisir. Que leur 
        a-t-il manqué ? Peut-être un attaquant hors pair pouvant les guider vers la victoire. L'union japonaise de 
        football s'acharne à trouver quelqu’un ayant faim de buts et soif de victoire, une personne à l’individualisme 
        assumé capable de faire basculer un match qui a mal démarré. Pour cela, elle a rassemblé 300 des plus brillants 
        jeunes joueurs du Japon. Qui émergera pour diriger l'équipe ? Sera-t-il capable de surpasser en force et en 
        caractère tous ceux qui se dressent sur son chemin ?
        </p>
  
        
</div>
          
{% endblock %}
