{% extends 'base.html.twig' %}

{% block title %}Hello BoyeController!{% endblock %}

{% block body %}

<div class="mycontainer2">
    <div class="item1">
        <img src="../img/me.png" width="70%" height="60%">
        <p style="text-align: center;"><u>Mr.Mouhamed-Boye</u></p>
    </div>
    <div class="item2">
        <p style="color: #F5F5F5;">Let s add some text here, first call me Mr.Boye, not boy neither boyé.You have the honor to be the 
        lector of my e-portfolio, i know that s fantastic for your life, your are like a child who dicovered his 
        little gift the day of christmas, but don't be so excited, if you want to stay here you must proof me your 
        competences.So let s get started before the view of your face start giving me nauseas,...
        hey calm down you moron, i was joking, that s funny, no ? Now dance macaque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum distinctio doloribus sequi odio, omnis atque ullam velit illo nihil eveniet laboriosam, ipsam dolorum. Quaerat rerum, aliquam nam porro molestiae enim?</p>
    </div>

</div><br><br><br>
{% endblock %}
