{% extends 'base.html.twig' %}

{% block title %}Hello BoyeController!{% endblock %}
  {% block stylesheets %}
    <style>
      body{ background: url(../img/18146.jpg);
      background-size: cover;}
    </style>
        
  {% endblock %}
  

    {% block body %}
        <div class="mycontainer3">
          <div class="competences">
            <h1>
              <p style="text-align: center; font-family:cursive;color:black;font-size:larger" ><u>COMPETENCES:</u></p>
            </h1>
          </div>
        
            
        
        </div><br><br>
        <div class="container1_uno">
            <div class="itempt">
              <img src="../img/img1.jpg"  width="90%" height="50%" style="border-radius: 20px;">
              <h6 >
              <p style="color:black;">
                <p style="text-align: center;"><u>Administrer</u></p>
                A l’ère du numérique, la gestion des réseaux informatiques ou de télécommunications, essentielle au 
                bon fonctionnement de l’entreprise, suppose de concevoir le réseau, le déployer, l’administrer et 
                le superviser. Le gestionnaire doit être réactif en cas d’incident et savoir communiquer avec les
                employés/clients pour comprendre et résoudre leurs problématiques.
              </p>
            </h6><br><br>
            </div>
            
            <div class="itempt">
              <img src="../img/img2.jpg" width="90%" height="50%" style="border-radius: 20px; margin-top:10px">
              <h6 >
                <p style="color:black;">
                <p style="text-align: center;"><u>Programmer</u></p>
                L’administrateur de réseaux informatiques ou de télécommunications à un besoin grandissant de compétences en développement informatique. Il
                peut être amené à développer des applications spécifiques pour son réseau (par exemple, pour remonter et analyser des informations sur ses
                équipements, 
                            
              </p>
            </h6><br><br>
            </div>
        
            <div class="itempt">
              <img src="../img/img3.jpg" width="90%" height="50%" style="border-radius: 20px; margin-top:10px">
              <h6 >
                <p style="color:black;">
                <p style="text-align: center;"><u>Connecter</u></p>
                Les réseaux informatiques ou de télécommunications s’appuient sur des infrastructures de transmission pour l’acheminement des données entre les
                différents équipements du réseau. L’installation et l’administration de ces infrastructures demandent de bonnes connaissances dans certains
                domaines de la physique, du traitement du signal et des communications numériques. 
             
              </p>
              </h6>
            </div>

            
          </div><br><br>
          <div class="myyrow">
            <img src="../img/img1.jpg" width="400px" height="285px" style="border-radius: 20px;float:left">
            <p class="classfortext">
               ♠️Maitrise des lois fondamentales de l'électricité<br>
                <a href="https://docs.google.com/document/d/1y2RZ8yZWK9fb60Am3_QNAXMy9ipH-o-hRsC0v89CssQ/edit?usp=sharing		
                ">Link</a><br>
                ♠️Connaissance sur l'architecture des réseaux<br>
                <a href="https://docs.google.com/document/d/1MyL-yEZJfNQ5KApFMrUmZe03_PTNgXBrXcqOnp252C4/edit?usp=sharing">Link<br></a>
                ♠️Maitrise des équipements actifs et réseaux locaux<br>
                <a href="https://docs.google.com/document/d/1y2RZ8yZWK9fb60Am3_QNAXMy9ipH-o-hRsC0v89CssQ/edit?usp=sharing		
                ">Link<br></a>
                ♠️Maitrise du shell linux<br>
                <a href="https://docs.google.com/document/d/1zcgjLWUO9VpIO2hMOdB4GrREoz06rGfQVB40JpLBZiM/edit?usp=sharing">Link<br></a>
                ♠️Bases de la cybersécurité<br>
                <a href="https://docs.google.com/document/d/12Ow8PWFEYa93-also0WP6FzBbhWcNE6PbZvk04s2V5Q/edit?usp=sharing">Link<br></a>
               </ul>

              
        </p>
          </div>
          <div class="myyrow" style="position:relative; bottom:00px;">
            <img src="../img/img2.jpg" width="400px" height="285px" style="border-radius: 20px;float:left">
            <p class="classfortext">
                ♠️Utiliser un systéme informatique et ses outils<br>
                <a href="https://docs.google.com/document/d/1j0i96nnbllPQ3ZIsUrhieM2VWG8O_YYinuoqWAyvQb0/edit?usp=sharing
                ">Link<br></a>
                ♠️Lire exécuter corriger et modifier un programme<br>
                <a href="https://docs.google.com/document/d/1FENjp9Z6Y0tlp77njlSnPV1qNhGMT3krobbMqcrXe7k/edit?usp=sharing
                ">Link<br></a>
                ♠️Traduire un algo dans un langage<br>
                <a href="https://docs.google.com/document/d/1PqCn5Kk2M7v_uzazzglqR4Wsp0TeDw-S9qBV_DkE1bc/edit?usp=sharing
                ">Link<br></a>
                ♠️Connaitre l'architecture et les structures d'un site web<br>
                <a href="https://docs.google.com/document/d/16CyNknszFKr18MOzmpzdMQZHoUoXEQ5Q0qyX-iv675c/edit?usp=sharing
                ">Link<br></a>
                

           </p>
          </div>
          <div class="myyrow" style="position:relative; bottom:00px;">
            <img src="../img/img3.jpg" width="400px" height="285px" style="border-radius: 20px;float:left">
            <p class="classfortext">
              ♠️Mesures et analyses des signaux<br>
              <a href="https://docs.google.com/document/d/1y2RZ8yZWK9fb60Am3_QNAXMy9ipH-o-hRsC0v89CssQ/edit?usp=sharing	
              ">Link<br></a>
              ♠️Modélisation mathématiques des signaux<br>
              <a href="https://docs.google.com/document/d/1EIWsgFqq4S8Jc9Pl4Ak6_qfbL_41l6U_J8UVDMLgAes/edit?usp=sharing	
              ">Link<br></a>
              ♠️Déploiment des supports de transmission<br>
              <a href="https://docs.google.com/presentation/d/14UsMctdRiNm6lVGsiEYXUoj52O-Wu21n/edit?usp=sharing&ouid=100120394796123226328&rtpof=true&sd=true		
              ">Link<br></a>
              ♠️Communiquer avec un client ou un colloborateur<br>
              

        </p>
          </div>
    {% endblock %}