{% extends 'base.html.twig' %}

{% block title %}Hello BoyeController!{% endblock %}

    {% block body %}
        <div class="mycontainer3">
            
        
        </div><br><br>
        <div class="container1_uno">
            <div class="itempt">
              <img src="../img/img1.jpg" alt="alita" width="90%" height="50%" style="border-radius: 20px;">
              <h6 >
              <p style="color:rgb(204, 207, 206);">
              Si Alita Battle Angel a été aimé par des millions de fans, il n'en a pas moins été une déception commerciale 
              pour la Fox (405 millions de dollars de recettes pour un budget de 200 millions).   Cependant, James Cameron, 
              Robert Rodriguez et Jon Landau n'ont jamais cessé de se battre pour la production d'une suite. "Avec un peu de
              chance, le film pourrait se faire." confie Jon Landau à Deadline. "Maintenant je n'ai pas envie de vous donner
             
              </p>
            </h6><br><br>
            </div>
            
            <div class="itempt">
              <img src="../img/img2.jpg" width="90%" height="50%" style="border-radius: 20px; margin-top:10px">
              <h6 ><p style="color:rgb(204, 207, 206);">
              Wakanda Forever n'a que deux scènes post-génériques. Ou plutôt : une vraie scène et un message final. Dans ce 
              dernier, nous pouvons voir que ce deuxième film Black Panther n'est pas le dernier pour les studios Marvel. 
              La petite phrase "Black Panther will return" veut bien dire que nous retrouverons nos héros du Wakanda dans 
              les prochains films de la franchise. Un Black Panther 3 est très probable et notre nouvelle Panthère noire 
             
            </h6><br><br>
            </div>
        
            <div class="itempt">
              <img src="../img/img3.jpg" width="90%" height="50%" style="border-radius: 20px; margin-top:10px">
              <h6 ><p style="color:rgb(204, 207, 206);">
              Le Chat Potté découvre que sa passion pour l'aventure et son mépris du danger ont fini par lui coûter cher : 
              il a épuisé huit de ses neuf vies, et en a perdu le compte au passage. Afin de retomber sur ses pattes notre 
              héros velu se lance littéralement dans la quête de sa vie. Il s'embarque dans une aventure épique aux confins 
              de la Forêt Sombre afin de dénicher la mythique Etoile à vœu, seule susceptible de lui rendre ses vies 
              
              </h6>
            </div>
          </div><br><br>
          <div class="myyrow">
            <img src="../img/img1.jpg" width="400px" height="285px" style="border-radius: 20px;float:left">
            <p class="classfortext">
        Après une dite désastreuse à la Coupe du monde 2018, l'équipe de foot du Japon peine à se ressaisir. Que leur 
        a-t-il manqué ? Peut-être un attaquant hors pair pouvant les guider vers la victoire. L'union japonaise de 
        football s'acharne à trouver quelqu’un ayant faim de buts et soif de victoire, une personne à l’individualisme 
        assumé capable de faire basculer un match qui a mal démarré. Pour cela, elle a rassemblé 300 des plus brillants 
        jeunes joueurs du Japon. Qui émergera pour diriger l'équipe ? Sera-t-il capable de surpasser en force et en 
        caractère tous ceux qui se dressent sur son chemin ?Après une dite désastreuse à la Coupe du monde 2018, l'équipe de foot du Japon peine à se ressaisir. Que leur 
        a-t-il manqué ? Peut-être un attaquant hors pair pouvant les guider vers la victoire. L'union japonaise de 
        football s'acharne à trouver quelqu’un ayant faim de buts et soif de victoire, une personne à l’individualisme 
        assumé capable de faire basculer un match qui a mal démarré. Pour cela, elle a rassemblé 300 des plus brillants 
        jeunes joueurs du Japon. Qui émergera pour diriger l'équipe ? Sera-t-il capable de surpasser en force et en 
        caractère tous ceux qui se dressent sur
        </p>
          </div>
          <div class="myyrow" style="position:relative; bottom:00px;">
            <img src="../img/img2.jpg" width="400px" height="285px" style="border-radius: 20px;float:left">
            <p class="classfortext">
        Après une dite désastreuse à la Coupe du monde 2018, l'équipe de foot du Japon peine à se ressaisir. Que leur 
        a-t-il manqué ? Peut-être un attaquant hors pair pouvant les guider vers la victoire. L'union japonaise de 
        football s'acharne à trouver quelqu’un ayant faim de buts et soif de victoire, une personne à l’individualisme 
        assumé capable de faire basculer un match qui a mal démarré. Pour cela, elle a rassemblé 300 des plus brillants 
        jeunes joueurs du Japon. Qui émergera pour diriger l'équipe ? Sera-t-il capable de surpasser en force et en 
        caractère tous ceux qui se dressent sur son chemin ?Après une dite désastreuse à la Coupe du monde 2018, l'équipe de foot du Japon peine à se ressaisir. Que leur 
        a-t-il manqué ? Peut-être un attaquant hors pair pouvant les guider vers la victoire. L'union japonaise de 
        football s'acharne à trouver quelqu’un ayant faim de buts et soif de victoire, une personne à l’individualisme 
        assumé capable de faire basculer un match qui a mal démarré. Pour cela, elle a rassemblé 300 des plus brillants 
        jeunes joueurs du Japon. Qui émergera pour diriger l'équipe ? Sera-t-il capable de surpasser en force et en 
        caractère tous ceux qui se dressent sur
        </p>
          </div>
          <div class="myyrow" style="position:relative; bottom:00px;">
            <img src="../img/img3.jpg" width="400px" height="285px" style="border-radius: 20px;float:left">
            <p class="classfortext">
        Après une dite désastreuse à la Coupe du monde 2018, l'équipe de foot du Japon peine à se ressaisir. Que leur 
        a-t-il manqué ? Peut-être un attaquant hors pair pouvant les guider vers la victoire. L'union japonaise de 
        football s'acharne à trouver quelqu’un ayant faim de buts et soif de victoire, une personne à l’individualisme 
        assumé capable de faire basculer un match qui a mal démarré. Pour cela, elle a rassemblé 300 des plus brillants 
        jeunes joueurs du Japon. Qui émergera pour diriger l'équipe ? Sera-t-il capable de surpasser en force et en 
        caractère tous ceux qui se dressent sur son chemin ?Après une dite désastreuse à la Coupe du monde 2018, l'équipe de foot du Japon peine à se ressaisir. Que leur 
        a-t-il manqué ? Peut-être un attaquant hors pair pouvant les guider vers la victoire. L'union japonaise de 
        football s'acharne à trouver quelqu’un ayant faim de buts et soif de victoire, une personne à l’individualisme 
        assumé capable de faire basculer un match qui a mal démarré. Pour cela, elle a rassemblé 300 des plus brillants 
        jeunes joueurs du Japon. Qui émergera pour diriger l'équipe ? Sera-t-il capable de surpasser en force et en 
        caractère tous ceux qui se dressent sur
        </p>
          </div>
    {% endblock %}